<div class="image_cover">
    <%= image_tag  "https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Casa_Classic_Cocktail_Bar_%26_Jazz_Club_by_Roland_Barrera.jpg/1280px-Casa_Classic_Cocktail_Bar_%26_Jazz_Club_by_Roland_Barrera.jpg" %>
</div>
<div class="table-scroll">
    <h1> Your friends </h1>
    <%if @friends.length>0%>
        <div class="table-conteiner">
        <table class="table">
            <thead>
                <th colspan="1"></th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th colspan="3"></th>
                </th>
            </thead>
            <tbody>
                <% @friends.each do |user|%>
                    <%if user!=current_user%>
                        <tr>
                            <td><% if user.avatar && user.avatar!="" %> 
                                    <%= image_tag  user.avatar %>
                                <% else %>
                                    <%= image_tag  "no-profile-picture.jpg" %>
                                <% end %>
                            </td>
                            <td><%= user.name %></td>
                            <td><%= user.email %> &nbsp;</td>
                            <td><%= link_to  "Remove", user_friends_path(id: user.id),method:"delete" %>&nbsp;</td>
                        </tr>
                    <%end%>
                <% end %>
            </tbody>
        </table>
        </div>
    <%else%>
        <h5> No friends found</h5>
        <%= link_to  "Add new friends", users_all_path, class: "btn btn-primary" %>
    <%end%>
</div>
