<div class="image_cover">
    <%= image_tag  "https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Casa_Classic_Cocktail_Bar_%26_Jazz_Club_by_Roland_Barrera.jpg/1280px-Casa_Classic_Cocktail_Bar_%26_Jazz_Club_by_Roland_Barrera.jpg" %>
</div>
<div class="table-scroll">
    <%if @users.length>1%>
     <div class="table-conteiner">
        <table class="table">
            <thead>
                <th colspan="1"></th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <%if current_user.is_admin?%><th scope="col">Role</th> <%end%>
                <th colspan="3"></th>
                </th>
            </thead>
            <tbody>
                <% @users.each do |user|%>
                    <%if user!=current_user&&!current_user.is_owner?&&((current_user.is_user?&&user.is_user?)||current_user.is_admin?)%>
                        <tr>
                            <td><% if user.avatar && user.avatar!="" %> 
                                    <%= image_tag  user.avatar %>
                                <% else %>
                                    <%= image_tag  "no-profile-picture.jpg" %>
                                <% end %>
                            </td>
                            <td><%= user.name %></td>
                            <td><%= user.email %> &nbsp;</td>
                            <%if current_user.is_user?%>
                                <td><%= link_to  "Add", users_all_path(id: user.id),method:"post" %>&nbsp;</td>
                            <%elsif current_user.is_admin?%>
                                <td><%if user.roles_mask==1 %> 
                                        User
                                    <%elsif user.roles_mask==2%>
                                        Owner
                                    <%else%>
                                        Admin
                                    <%end%>
                                </td>
                                <td><%= link_to  "Remove",user_path(:id=>user.id),:method => :delete, :data => {:confirm => "You sure?"},
                                        :title => "Delete #{current_user.name}",class: "btn btn-danger" %>
                            <%end%>
                        </tr>
                    <%end%>
                <% end %>
            </tbody>
        </table>
    </div>
    <%else%>
        <h1> No users found</h1>
    <%end%>
</div>