<div class="image_cover">
    <%= image_tag  "https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Casa_Classic_Cocktail_Bar_%26_Jazz_Club_by_Roland_Barrera.jpg/1280px-Casa_Classic_Cocktail_Bar_%26_Jazz_Club_by_Roland_Barrera.jpg" %>
</div>

<div class="table-scroll">
    <h1>Matching Locations: </h1>
    <%= form_tag gatherings_path(), method: 'POST' do %>
    <div class="table-conteiner">
        <table class="table">
        <thead>
            <tr>
                <th> Name</th>
                <th> Select</th>
                <th colspan="3"></th>
            </tr>
        </thead>
        
        <tbody>
            <% @matching_loc.each do |loc| %>
            <tr>
                <td><%= loc.name %>  &nbsp;</td>
                <td><%= check_box_tag 'location', loc.id-%> </td>
                <td><%= link_to "Show", location_path(loc) %> &nbsp;</td>
            </tr>
            <% end %>
        </tbody>
        </table>
        <%= hidden_field_tag  :date, @date %>
        <% @partecipants.each do |part| %>
            <%= hidden_field_tag "partecipants[]", part %>
        <% end %> 
        <%= submit_tag "Continue", class:"btn btn-primary"%>
    </div>
    <% end %>
    </div>
    
