
<div class="image_cover">
    <%= image_tag  "https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Casa_Classic_Cocktail_Bar_%26_Jazz_Club_by_Roland_Barrera.jpg/1280px-Casa_Classic_Cocktail_Bar_%26_Jazz_Club_by_Roland_Barrera.jpg" %>
</div>

<div class="table-scroll">
  <h1> Your Gatherings </h1>
  <div class="table-conteiner">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Location</th>
          <th>Partecipants</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @gatherings.each do |gathering| %>
          <tr>
            <td><%= gathering.date.strftime("%d-%m-%Y") %>  &nbsp;</td>
            <td><%= gathering.location.name %>  &nbsp;</td>
            <td><%= gathering.users.length %>  &nbsp;</td>
            <td><%= link_to "Show", gathering_path(gathering)  %>  &nbsp; </td>
            <% if can? :update, gathering %>
              <td><%= link_to "Edit", edit_gathering_path(gathering) %>  &nbsp; </td>
            <% end %>
            <% if can? :destroy, gathering %>
              <td><%= link_to "Destroy", gathering_path(gathering), method: :delete, data: { confirm: "Are you sure?" } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% if can? :create, Gathering %>
    <%= link_to "New gathering", new_gathering_path, class:"btn btn-warning" %>
  <% end %>
</div>