<div class="image_cover">
    <%= image_tag  "https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Casa_Classic_Cocktail_Bar_%26_Jazz_Club_by_Roland_Barrera.jpg/1280px-Casa_Classic_Cocktail_Bar_%26_Jazz_Club_by_Roland_Barrera.jpg" %>
</div>

<div class="table-scroll">
  <div class="title">
    <h1>All Categories: </h1>
  </div>
  <div class="table-conteiner">
    <table class="table">
      <thead>
      </thead>
    
      <tbody>
      <% if current_user.is_user? %>  
        <h2><label for = 'cat'>Choose your favourites categories:</label></h2>
      <%end%>   
        <%= form_tag :action => 'create_fav_categories' do %>
      
        <% if !@categories.empty? %>
        <% @categories.each do |cat| %>
          <tr>
            <% if current_user.is_user? %>      
              <td><%= check_box_tag "categ[#{cat.id}]", cat.id %></td>   
          <%end%>   
            <td><%=  cat.name -%>&nbsp;</td>
            <td><%= link_to "Show", cat %>&nbsp; </td>

            <% if can? :update, cat %>
              <td><%= link_to "Edit", edit_category_path(cat) %>&nbsp; </td>
            <%end%>

            <% if can? :destroy, cat %>
              <td><%= link_to "Destroy", cat, method: :delete, data: { confirm: "Are you sure?" } %></td>
            <%end%>

            <td> <hr> </td>
          </tr>
        <% end %>
        <% else %>
        <br/>
        <%= @noCats %>
      <%end%>
      </tbody>
    </table>
  </div>
  
    <% if current_user.is_user? %>
      <%= submit_tag "Choose Categories", class:"btn btn-primary" %>
    <%end%>
    <% if current_user.is_user? %>
      <h2> See your favourites categories here: </h2>
      <%= link_to  "Your Favourites Categories", create_fav_categories_path %>
    <% end -%>
  <% end -%>
  <hr>
  <% if current_user.is_admin? %>
    <%= link_to "New category", new_category_path,class:"btn btn-primary" %>
  <% end -%>
