<div class="image_cover">
    <%= image_tag  "https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Casa_Classic_Cocktail_Bar_%26_Jazz_Club_by_Roland_Barrera.jpg/1280px-Casa_Classic_Cocktail_Bar_%26_Jazz_Club_by_Roland_Barrera.jpg" %>
</div>
<div class="table-scroll">
    <div class="title">
        <h1> Locations </h1>
    </div>
    <div class="table-conteiner">
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Name</th>
                <th scope="col">Street</th>
                <%if !current_user.is_user?%> <th scope="col">Status</th> <%end%>
                <th colspan="5"></th>
            </thead>
            <tbody>
                <% @location.each do |loc| %>
                    <tr>
                        <td><%= loc.name %></td>
                        <td><%= loc.street %> &nbsp;</td>
                        <%if !current_user.is_user?%><td><%= loc.status %> &nbsp;</td> <%end%>
                        <td><%= link_to "Show", location_path(loc.id) %>&nbsp;</td>
                        <%if !current_user.is_user?%><td><%= link_to "Edit", edit_location_path(loc.id) %>&nbsp;</td><%end%>
                        <%if current_user.is_admin?%><td><%= link_to "Destroy", loc, method: :delete, data: { confirm: "Are you sure?" } %>&nbsp;</td><%end%>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <%if current_user.is_owner?%>
        <%=link_to "New", new_location_path, class: "btn btn-primary"%>
    <% elsif current_user.is_admin?%>
        <%=link_to "Accept new Locations",accept_path, class: "btn btn-primary"%>
    <%end%> 
</div>

